{% extends "::simple.html.twig" %}

{% block stylesheets %}
<style>
		
	div p{
    	text-align: justify;
    	font-size: 10pt;
    }
    div  h1{
    	text-align: center;
    }
</style>  
{% endblock %}

{% block space %}
<h4 align="center">NIT. 900.260.604-8</h4><br />
<h5 align="center">I.V.A RÉGIMEN COMÚN</h5><br /><br />
{% endblock %}

{% block body %}
<div>
<h1>PAGARE</h1>
<p>
	<table>
		<tr>
			<td>Pagare No________________</td>
			<td>Fecha: __________________</td>
			<td>Valor:___________________</td>		
		</tr>
		<tr>
			<td colspan="2">Interés mensual: ___________________________</td>			
			<td>Cuotas: ________________________</td>
		</tr>
		<tr>
			<td colspan="2">Vencimiento Primera cuota:_____________________</td>
			
			<td >Vencimiento final_________________</td>
		</tr>
	</table>
</p>

<p><strong>DEUDOR:</strong>__________________________________________</p> 

<p><strong>ACREEDOR:</strong> SLIMMED CENTER</p>

<p>Ciudad y dirección donde se efectuará el pago Medellín Antioquia – Palms Avenue  Avenida las Palmas Consultorio 9947 P-1, Yo  ___________________________________ identificado(a)  como aparece al pie de mi firma y obrando nombre propio  hago las siguientes declaraciones:</p>
<p><strong>PRIMERA</strong>Objeto: Que por virtud del presente título valor pagaremos incondicionalmente, en la ciudad de Medellín a la orden de	 _______________________________________ identificado con la cédula de ciudadanía número CC: _____________________ expedida en Medellín o a quién represente sus derechos, la suma de _______________________($) junto con los intereses señalados en la cláusula tercera de este documento.</p>

<p><strong>SEGUNDA</strong> Plazo: Que pagare la suma indicada en la cláusula anterior mediante pagos mensuales sucesivos y en _______________ ( ) cuotas, correspondientes cada una a la cantidad de ___________________________ _________________________ ($) más los intereses corrientes sobre el saldo, a partir del día.</p>

<p><strong>TERCERA</strong> Intereses: Que sobre la suma debida reconoceré intereses equivalentes al ______________% mensual, sobre el saldo de capital, los cuales se liquidarán y pagarán mes vencido, junto con la cuota mensual correspondiente al mes de causación. En caso de mora, reconoceremos intereses moratorios del ___________________ (%) mensual. PARAGRAFO: En caso que la tasa de interés corriente y/o moratorio pactado, sobrepase los topes máximos permitidos por las disposiciones comerciales, dichas tasas se ajustarán mensualmente a los máximos legales.</p>

<p><strong>CUARTO</strong>  Cláusula aceleratoria:EL ACREEDOR podrá declarar insubsistente los plazos de esta obligación o de las cuotas pendientes de pago, estén o no vencidas, y exigir el pago total e inmediato judicial o extrajudicialmente en los siguientes casos: Cuando EL DEUDOR incumplan una cualquiera de las obligaciones derivadas del presente documento, así sea de manera parcial, por muerte de EL DEUDOR. Cuando EL DEUDOR se declare en proceso de liquidación obligatoria o convoque a concurso de acreedores.</p>

<p>
	EL DEUDOR<br/>
	Firma:________________________<br/><br/><br/>
	Nombre:_________________________<br/>
	CC No:___________________________<br/>
</p>
</div>
{% endblock %}