{% extends "::simple.html.twig" %}

{% block stylesheets %}
<style>
		
	div p{
    	text-align: justify;
    	font-size: 10pt;
    }
    div  h1{
    	text-align: center;
    }
</style>  
{% endblock %}

{% block space %}
<h4 align="center">NIT. 900.260.604-8</h4><br />
<h5 align="center">I.V.A RÉGIMEN COMÚN</h5><br /><br />
{% endblock %}

{% block body %}
<div>
<h1>RECOMENDACIONES</h1>
<h3>PRE-PROCEDIMIENTO:</h3>
<p>
	<ul>
		<li>DESAYUNAR/ALMORZAR, normalmente, evitando alimentos pesados como salsas, hogao, ají, aliños fuertes, granos (lentejas, garbanzos, frijoles).</li>
		<li>No consuma días antes aspirina (ácido acetil salicílico), alka seltzer, sal de frutas, bebidas que contengan alcohol, cigarrillo, ni ningún medicamento, sin antes consultar con el médico.</li>
		<li>Traer ropa cómoda, que no sea blanca, que no sean jeans.</li>
		<li>Traer sandalias cómodas, procurar que no sean tennis.</li>
		<li>Comprar un paquete de toallas TENA MEDIUM mujer.</li>
		<li>Comprar un pastel dulce y una gaseosa o jugo QUE NO SEA COCA-COLA NI DIETETICA, para consumir después del procedimiento.</li>
		<li>Asistir con un acompañante, o que venga por usted luego del procedimiento.</li>
		<li>Procurar que esa noche alguien lo acompañe.</li>
		<li>Realizarse los exámenes que le envió el medico cuatro días hábiles antes del procedimiento, en el laboratorio recomendado (BIOREFERENCIA Tel 4480002), o algún laboratorio reconocido, tener presente que el examen de orina debe ser la primera muestra del día. El laboratorio recomendado realiza servicio a domicilio.</li>
		<li>Dos días antes del procedimiento debe venir a medirse la faja, tomarse las medidas, cancelar el procedimiento y darle las recomendaciones correspondientes.</li>
		<li>Rasurar el area del bikini.</li>
	</ul>
</p>

<h3>POS-PROCEDIMIENTO</h3>
<p>
	<ul>
		<li>Al levantarse antes de pararse de la cama, que su acompañante le  lleve una aromática dulce, endulzada con azúcar, y esperar diez minutos antes de ponerse de pie.</li>
		<li>Tomarse los medicamentos, luego de haber comido.</li>
		<li>Bañarse con agua fría, ojala en supervisión de alguien.</li>
		<li>Asistir puntualmente a su primer masaje.</li>
		<li>Traer ropa interior para el masaje, ya que la faja se debe usar sin ropa interior.</li>
		<li>Comprar una CREMA ARNICA, y traerla al masaje.</li>
		<li>Aplicarse hielo sobre la faja, no directamente sobre la piel, durante los primeros tres días.</li>
		<li>Todos los alimentos que consuma durante una semana deben ser endulzados con azúcar.</li>
		<li>Cualquier inquietud comunicarse con su médico al Tel 3123424 o celular 3147936737</li>
	</ul>
</p>
<p>
SU CITA ES: ______________________________<br/>
HORA:          ____________________________________<br/>
REALIZADO POR: __________________________<br/>
</p>
</div>
{% endblock %}